<!DOCTYPE html>
<html>
<head>
    <title>RoadGuard AI Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-bg">
    <div class="login-box">
        <h2>🚍 RoadGuard AI</h2>
        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button>Login</button>
        </form>
        <p>Username: driver | Password: 1234</p>
    </div>
</body>
</html>